body{
    font-family: 'RobotoDraft', sans-serif;
    background:#e8eaf6; /* material design indigo 50 */
    color:white;
    height:100%;
    margin: 0;
}
.container{
    background:#3f51b5;/* material design indigo 500 */
    padding:10px;
    text-align: center;
}
.server{
    display:inline-block;
}
#server2{

}
paper-button{
    background:green;
    color:white;
}

#header {
    display:inline-block;
}
