body{
    font-family: 'RobotoDraft', sans-serif;
    background:#00bcd4; /* material design teal 300 */
    color:white;
}
.container{
    background:#006064;
    padding:10px;
    display:inline-block;
}
.server{
    display:inline-block;
    padding-left:20px;
    padding-top:30px;
}
paper-button{
    background:green;
    color:white;
}
